{{/* ========== Darwin ========== */}}
{{- if (eq .chezmoi.os "darwin") }}
{{/* unsetopt GLOBAL_RCS してるので手動で読み込む */}}
[ -r /etc/zshrc ] && source /etc/zshrc
{{ end -}}
{{/* ========== Darwin =========== */}}

# 補完機能ファイルがあるディレクトリのパス
fpath=(
    "$ZDOTDIR"/functions(N-/)
    {{ $zshFunctionsPath := (joinPath .chezmoi.homeDir ".nix-profile/share/zsh") -}}
    {{ if stat $zshFunctionsPath -}}
    {{ $zshFuncDirs := output "find" $zshFunctionsPath "-name" "*functions" "-type" "d" "-follow" |
        trimAll "\n" | splitList "\n" | sortAlpha -}}
    {{ range $zshFuncDirs -}}
    {{ . }}(N-/)
    {{ end -}}
    {{ end -}}
    /nix/var/nix/profiles/default/share/zsh/site-functions(N-/)
    $fpath
)

# GPGに今使用しているシェルを教えるために設定する
export GPG_TTY=$TTY

# シェル制御オプションを読み込み
source "$ZDOTDIR/rc/options.zsh"

# 補完設定を読み込み
source "$ZDOTDIR/rc/completion.zsh"

# zsh-vi-mode
source "$ZDOTDIR/rc/zsh-vi-mode.zsh"

# プロンプト設定読み込み
source "$ZDOTDIR/rc/prompt.zsh"

