# vim: ts=2

{{ $packages := glob (joinPath .chezmoi.mypkgsPackagesSource "[^.]*") | sortAlpha -}}
{{ $pattern := "^.*/(.+?)\\.nix$" -}}

{
  description = "mypkgs: Packages not included in nixpkgs.";

  inputs = {
    nixpkgs.url = "github:nixos/nixpkgs/nixos-unstable";
    flake-utils.url = "github:numtide/flake-utils";
  };

  outputs = { self, nixpkgs, flake-utils, ... }:
    flake-utils.lib.eachDefaultSystem (system:
      let
        pkgs = nixpkgs.legacyPackages.${system};
      in {
        packages = rec {
          {{ range $packages -}}
          {{ . | replaceAllRegex $pattern "${1}" }} = import {{ . | replaceAllRegex "^.*/" "./packages/" }} { inherit pkgs; };
          {{ end -}}
        };
        apps = rec {
          {{ range $packages -}}
          {{ . | replaceAllRegex $pattern "${1}" }} = flake-utils.lib.mkApp { drv = self.packages.${system}.{{ . |
            replaceAllRegex $pattern "${1}" }}; };
          {{ end -}}
        };
      }
    );
}
