#!/usr/bin/env bash

{{ output "find" (joinPath .chezmoi.mypkgsDir "packages")
    "-type" "f" "-name" "*" "-exec" "sha256sum" "{}" "+" | comment "# " -}}

if which nix > /dev/null 2>&1; then
    nix flake update "{{ joinPath .chezmoi.homeDir ".config/home-manager" }}"
fi

