root = true

[*]
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.lua]
# LuaLS
align_array_table = false
align_continuous_assign_statement = false
align_continuous_rect_table_field = false
quote_style = single

[*.nix{,.tmpl}]
indent_size = 2

[home/private_dot_config/git/config]
indent_style = tab
