# vim: ts=2

{
  description = "Home Manager configuration of {{ .chezmoi.username }}";

  inputs = {
    # Specify the source of Home Manager and Nixpkgs.
    nixpkgs.url = "github:nixos/nixpkgs/nixos-unstable";
    home-manager = {
      url = "github:nix-community/home-manager";
      inputs.nixpkgs.follows = "nixpkgs";
    };
    mypkgs = {
      url = "{{ .chezmoi.mypkgsDir }}";
      inputs.nixpkgs.follows = "nixpkgs";
    };
  };

  outputs = { nixpkgs, home-manager, mypkgs, ... }:
    let
      system = "{{ .chezmoi.nixSystem }}";
      pkgs = import nixpkgs {
        overlays = [
          (final: prev: { __mypkgs = mypkgs.packages.${system}; })
          {{ $overlaysDir := joinPath .chezmoi.sourceDir "private_dot_config/home-manager/overlays" -}}
          {{ if stat $overlaysDir -}}
          {{   $overlays := glob (joinPath $overlaysDir "[^.]*") | sortAlpha -}}
          {{   range $overlays -}}
          {{     if . -}}
          (import {{ . | replaceAllRegex "^.*/" "./overlays/" }})
          {{     end -}}
          {{   end -}}
          {{ end -}}
        ];
        inherit system;
      };
    in {
      homeConfigurations."{{ .chezmoi.username }}" =
        home-manager.lib.homeManagerConfiguration {
          inherit pkgs;

          # Specify your home configuration modules here, for example,
          # the path to your home.nix.
          modules = [ ./home.nix ];

          # Optionally use extraSpecialArgs
          # to pass through arguments to home.nix
        };
      formatter.${system} = pkgs.nixfmt;
    };
}
