# vim: et ts=2

{ pkgs, ... }:

{
  home.username = "{{ .chezmoi.username }}";
  home.homeDirectory = "{{ .chezmoi.homeDir }}";
  home.packages = with pkgs;
    [
      bashInteractive
      bat
      cacert
      cmigemo
      coreutils
      curl
      diffutils
      eza
      fd
      findutils
      fzf
      gawk
      gh
      ghq
      git
      gnugrep
      gnupg
      gnused
      gnutar
      groff
      gzip
      hexyl
      home-manager
      imagemagick
      jq
      mmv-go
      neovim
      p7zip
      pinentry
      ripgrep
      starship
      tmux
      vivid
      xdg-utils
      yubikey-manager
      zoxide
    ] ++

    {{- if eq .chezmoi.os "linux" }}
    # Linux only
    [
      ffmpeg-full
      mpv-unwrapped
      sheldon
      xsel
      zsh
    ] ++
    {{- end }}

    # Fonts
    [
      hackgen-nf-font
    ] ++

    # Packages not included in nixpkgs.
    (with __mypkgs; [
      anime4k
      mpv-prescalers
      yabai-zsh-completions
    ]);

  home.stateVersion = "22.11";
}
