{ pkgs, ... }:

{
  home.username = "{{ .chezmoi.username }}";
  home.homeDirectory = "{{ .chezmoi.homeDir }}";
  home.packages = with pkgs;
    [
      _7zz
      bashInteractive
      bat
      cacert
      cmigemo
      coreutils
      curl
      delta
      diffutils
      eza
      fd
      findutils
      fzf
      gawk
      gh
      ghq
      git
      gnugrep
      gnupg
      gnused
      gnutar
      groff
      gzip
      hexyl
      home-manager
      httpie
      imagemagick
      jq
      mise
      neovim
      nkf
      pinentry-curses
      ripgrep
      starship
      tmux
      tree-sitter
      vivid
      xdg-utils
      yubikey-manager
      zoxide
    ] ++

    {{ if eq .chezmoi.os "linux" -}}
    # Linux only
    [
      ffmpeg-full
      mpv-unwrapped
      sheldon
      xsel
      zsh
    ] ++
    {{ end -}}

    # Fonts
    [
      hackgen-nf-font
    ] ++

    # Packages not included in nixpkgs.
    (with __mypkgs; [
      anime4k
      mpv-prescalers
      yabai-zsh-completions
    ]);

  home.stateVersion = "22.11";
}
