{ config, pkgs, ... }:

{
  # Home Manager needs a bit of information about you and the
  # paths it should manage.
  home.username = "{{- .chezmoi.username -}}";
  home.homeDirectory = "{{- .chezmoi.homeDir -}}";

  # Packages that should be installed to the user profile.
  home.packages = with pkgs;
    [
      bash
      bat
      cacert
      chezmoi
      coreutils
      diffutils
      fd
      findutils
      gawk
      git
      gnugrep
      gnused
      gnutar
      gzip
      home-manager
      neovim
      p7zip
      tmux
      tree
      zsh
      zsh-completions
      zsh-vi-mode
    ] ++
    
    # Packages not included in nixpkgs.
    (with __mypkgs; [
      zsh-defer
    ]);

  # This value determines the Home Manager release that your
  # configuration is compatible with. This helps avoid breakage
  # when a new Home Manager release introduces backwards
  # incompatible changes.
  #
  # You can update Home Manager without changing this value. See
  # the Home Manager release notes for a list of state version
  # changes in each release.
  home.stateVersion = "22.11";
}

