['{{ .xdg.configR }}/tmux/plugins/tpm']
    type = 'git-repo'
    url = 'https://github.com/tmux-plugins/tpm.git'

['{{ .xdg.dataR }}/repositories/bash-preexec']
    type = 'git-repo'
    url = 'https://github.com/rcaloras/bash-preexec.git'
    refreshPeriod = '720h'
