# chezmoi:template:missing-key=invalid
{{ if and (ne .xdg.configR nil) (ne .xdg.dataR nil) -}}

['{{ .xdg.configR }}/git/themes.gitconfig']
    type = 'file'
    url = 'https://raw.githubusercontent.com/dandavison/delta/main/themes.gitconfig'
    refreshPeriod = '720h'

['{{ .xdg.configR }}/tmux/plugins/tpm']
    type = 'git-repo'
    url = 'https://github.com/tmux-plugins/tpm.git'

['{{ .xdg.dataR }}/_shells/git-prompt.sh']
    type = 'file'
    url = 'https://raw.githubusercontent.com/git/git/master/contrib/completion/git-prompt.sh'
    refreshPeriod = '720h'

['{{ .xdg.dataR }}/repositories/bash-preexec']
    type = 'git-repo'
    url = 'https://github.com/rcaloras/bash-preexec.git'
    refreshPeriod = '720h'

{{ end -}}
