# chezmoi:template:missing-key=invalid
{{ if and (ne .xdg.configR nil) (ne .xdg.dataR nil) -}}

['{{ .xdg.configR }}/tmux/plugins/tpm']
    type = 'git-repo'
    url = 'https://github.com/tmux-plugins/tpm.git'

['{{ .xdg.dataR }}/repositories/bash-preexec']
    type = 'git-repo'
    url = 'https://github.com/rcaloras/bash-preexec.git'
    refreshPeriod = '720h'

{{ end -}}
