#!/usr/bin/env bash

set -eu

{{ $funcDir := joinPath .xdg.config "zsh/functions" -}}
{{ $commandLines := list
     "chezmoi completion zsh"
     "wezterm shell-completion --shell zsh"
    -}}
{{ range $commandLines -}}
{{   $command := first (splitList " " .) -}}
{{   $completionFile := print $funcDir "/_" $command -}}

{{   if lookPath $command -}}
{{     . }} > '{{ $completionFile }}'
{{   end -}}
{{ end -}}
