### chezmoi
alias chezmoi-apply-zsh='chezmoi apply && sleep 1 && exec zsh'
# run_once属性はファイルの内容が変更されたとき一度だけ実行される。それをリセットするコマンド
alias chezmoi-reset-once='chezmoi state delete-bucket --bucket=scriptState'

### gnu-ls (エイリアスは多重展開される)
alias ls="ls --time-style='+%Y-%m-%d %H:%M' --color=auto"
alias la='ls -A'
alias ll='ls -l'
alias lh='ll -h'
alias li='ll -i'
alias lla='ls -la'
alias lah='lla -h'
alias lai='lla -i'

{{ if lookPath "nix" -}}
alias nix-hash-git="nix run 'nixpkgs#nix-prefetch-git' --"
{{ end -}}

{{ if lookPath "nvim" -}}
alias vi='nvim'
alias vim='nvim'
# 読み取り専用でneovimを開く
alias view='nvim -R'
{{ end -}}

{{ if lookPath "docker-compose" -}}
alias dco='docker-compose'
alias dcu='docker-compose up'
alias dcd='docker-compose down'
alias dcv='docker-compose down && docker-compose up'
alias dce='docker-compose exec'
alias dcr='docker-compose run --user=${UID} --no-deps'
alias dcR='docker-compose run --user=${UID} --no-deps --rm'
{{ end -}}

