# ~/.git/config: 環境に依存する設定.

[core]
    pager = $XDG_CONFIG_HOME/git/scripts/pager

[interactive]
    diffFilter = $XDG_CONFIG_HOME/git/scripts/diff-filter

[diff]
    tool = nvim_difftool

[difftool "nvim_difftool"]
    cmd = "nvim -c 'packadd nvim.difftool' -d \"$LOCAL\" \"$REMOTE\""

[merge]
    tool = nvimdiff

[mergetool "nvimdiff"]
    layout = (LOCAL,REMOTE)/MERGED

[user]
    name  = {{ .name }}
    email = {{ .email }}

[delta]
    features       = calochortus-lyallii
    navigate       = true
    line-numbers   = true
    hyperlinks     = true
    relative-paths = true
    true-color     = auto
    paging         = auto

[include]
    path = ../delta/themes.gitconfig
